@font-face {
    font-family: 'Ample B';
    src: url('AmpleSoftPro-Bold.woff2') format('woff2'),
        url('AmpleSoftPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ample R';
    src: url('AmpleSoftPro-Regular.woff2') format('woff2'),
        url('AmpleSoftPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ample L';
    src: url('AmpleSoftPro-Light.woff2') format('woff2'),
        url('AmpleSoftPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ample M';
    src: url('AmpleSoftPro-Medium.woff2') format('woff2'),
        url('AmpleSoftPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ample E';
    src: url('AmpleSoftPro-ExtraLight.woff2') format('woff2'),
        url('AmpleSoftPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ample T';
    src: url('AmpleSoftPro-Thin.woff2') format('woff2'),
        url('AmpleSoftPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

